@charset "UTF-8";
/*中文字修飾 2016-09-12*/
body, p, span, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Source Sans Pro','Helvetica Neue', Helvetica,Arial,'Microsoft JhengHei',sans-serif; }

body, input, .form-control {
  font-size: 15px; }

.main-header .sidebar-toggle {
  padding: 14px 15px; }

.form-control {
  height: 36px; }
